
.starttime{
   background-color: #7044ff;
   color: white;
   max-width: 50px !important;
}
.even {
    background-color: #f2f2f2;
}

.evenSkeleton {
    background-color: #f2f2f2;
}

.toolbar {
    background-color: var(--ion-color-secondary);
}