<menu-header headerTitle="Teams"></menu-header>

<ion-content>

  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)='goToTeamCreatePage($event)'>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  <ion-list>
    <ion-list-header>
      Recent Conversations
    </ion-list-header>

    <ion-item-sliding *ngFor="let team of teams;" (click)="goToTeamEditPage(team.id)">
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h2>{{ team.name }}</h2>
          <h3><b>Contactpersoon:</b> {{ team.contact }}</h3>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option side="icon-only" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>