<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Wedstrijdschema</ion-title>
  </ion-toolbar>
</ion-header>


<ion-toolbar class="toolbar">
  <ion-grid>
    <ion-row>
      <ion-col size=1>
        <ion-buttons>
          <ion-button slot="icon-only" (click)='loadPreviousWeek()' [hidden]="!showPreviousWeekBtn"
            [disabled]="isLoading">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-title>{{ week }}</ion-title>
      </ion-col>
      <ion-col size=1>
        <ion-buttons>
          <ion-button id="nextWeekBtn" slot="icon-only" (click)='loadNextWeek()' [hidden]="!showNextWeekBtn"
            [disabled]="isLoading">
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>
<ion-content>
  <div *ngIf="!isLoading">

    <ion-grid *ngFor="let itema of items;">
      <div *ngFor="let item of itema; let index=index; let odd=odd; let even=even;">

        <ion-list-header align-self-center class="ion-text-center" [hidden]="index > 0" color="secondary">
          <ion-col align-self-center class="ion-text-center" size=3>
          </ion-col>
          <ion-col align-self-start class="ion-text-center" size="6">
            <h6 class="ion-no-margin">
              <h4 class="ion-no-margin">
                {{item.gameDay | date:'EEEE'}}
                <!-- ({{item.gameDay | date:'dd-LL'}}) -->
              </h4>
            </h6>
          </ion-col>
          <ion-col align-self-center class="ion-text-center" size=3>
          </ion-col>
        </ion-list-header>

        <ion-row class="gameRow" [ngClass]="{ odd: odd, even: even }">
          <ion-col align-self-center class="ion-text-center" size=5>
            <h5 class="ion-no-margin">{{item.homeTeam.toUpperCase()}}</h5>
          </ion-col>
          <ion-col align-self-start class="ion-text-center" size="2">
            <h6 class="ion-no-margin">vs</h6>
          </ion-col>
          <ion-col align-self-center class="ion-text-center" size=5>
            <h5 class="ion-no-margin">{{item.awayTeam.toUpperCase()}}</h5>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center gameRow" [ngClass]="{ odd: odd, even: even }">
          <ion-col align-self-center class="ion-text-center" size=4>
          </ion-col>
          <ion-col align-self-start class="ion-text-center" size=4>
            <h6 class="ion-no-margin">{{item.location}}</h6>
          </ion-col>
          <ion-col align-self-center class="ion-text-center" size=4>
          </ion-col>
        </ion-row>
        <ion-row class="gameRow" [ngClass]="{ odd: odd, even: even }">
          <ion-col align-self-start class="ion-text-end"></ion-col>
          <ion-col align-self-center size="2" class="starttime">
            {{item.gameDay | date:'HH:mm' }}</ion-col>
          <ion-col align-self-end></ion-col>
        </ion-row>
        <ion-row [ngClass]="{ odd: odd, even: even }">
          <ion-col size="6">

          </ion-col>
        </ion-row>
      </div>
      <ion-row style="height: 10px;"></ion-row>
    </ion-grid>

  </div>
  <div *ngIf="isLoading">

    <ion-grid>
      <ion-row>
        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
      </ion-row>
      <ion-row>
        <ion-col size="6">
        </ion-col>
      </ion-row>
      <div *ngFor="let item of [].constructor(4); let index=index; let odd=odd; let even=even;"
        [ngClass]="{ odd: odd, evenSkeleton: even }">
        <ion-row>
          <ion-col align-self-start class="ion-text-end">
            <h4>
              <ion-skeleton-text animated style="height: 30px"></ion-skeleton-text>
            </h4>
          </ion-col>
          <ion-col align-self-center size="1">
          </ion-col>
          <ion-col align-self-end>
            <h4>
              <ion-skeleton-text animated style="height: 30px"></ion-skeleton-text>
            </h4>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col align-self-start>
          </ion-col>
          <ion-col align-self-center size=2>
            <ion-skeleton-text animated style="width: 50px; height: 30px"></ion-skeleton-text>
          </ion-col>
          <ion-col align-self-end></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>

  </div>
</ion-content>